{% extends "layout.html" %}

{% block content %}

<h1 class="header">About Us</h1>

<section id="mission">
    
    <h2 class="section-header"><img src="/static/images/history.png" alt="" class="section-img">History</h2>
    <hr>

    <p>Formed in 2015, Radical Living grew out of a Christian co-housing community founded by Vonetta and Jason Storbakken. The community was organized as a church plant under the auspices of the Mennonite Church USA, a denomination oriented toward peace and social justice, non-violent resistance, and faith formation as key themes of Christian witness.</p>

    <h2 class="section-header"><img src="/static/images/mission.png" alt="" class="section-img">Mission</h2>
    <hr>

    <p>Radical Living is an asset-based community organization (501c3) that aims to build community around food, sustainable practices, and green spaces by supporting resident-led efforts to increase healthy food options, educate residents about their role in the food system, and reconnect residents to food, earth, and each other.</p>

</section>

<section id="vision">
    <h1 class="header">Our Vision</h1>

    <div class="row">
        <div class="col-sm">
            <img src="/static/images/harmony.png" alt="" class="vision-img">
        </div>
        <div class="col-sm">
            <img src="/static/images/diversity.png" alt="" class="vision-img">
        </div>
        <div class="col-sm">
            <img src="/static/images/community.png" alt="" class="vision-img">
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <h2 class="section-header" id="harmony">Harmony</h2>
        </div>
        <div class="col-sm">
            <h2 class="section-header" id="diversity">Diversity</h2>
        </div>
        <div class="col-sm">
            <h2 class="section-header" id="community">Community</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <p>Radical Living envisions a sustainable society that lives in harmony with the earth’s ecology and protects the living world on which it depends</p>
        </div>
        <div class="col-sm">
            <p>We envision a world where the systems of power and domination that threaten and marginalize whole segments of society are dismantled; where black and brown and all children, poor and working poor families, the LGBTQ community</p>
        </div>
        <div class="col-sm">
            <p>A world where all immigrants, are valued and strengthened to meaningfully participate in a beloved world community.</p>
        </div>
    </div>
</section>

<section id="team">
    <h1 class="header">Meet the Team</h1>

</section>

{% endblock %}


