<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <!-- Google Font Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Josefin+Sans:wght@100;400;700&family=Nunito:wght@200;300;400;700&display=swap" rel="stylesheet">


	<link rel="icon" type="image/x-icon" href="./static/images/RL-favicon.png">
    <title>Radical Living</title>
    

</head>

<body>

    <!-- Team Popups -->

    <div class="popup" id="vonetta">
        <div class="popup-content">
            <h2 class="section-header">Vonetta Storbakken</h2>
            
            <!-- <div class="popup-box">
                <div class="row">
                    <div class="col">
                        <p>Vonetta Storbakken is cofounder and executive director of Radical Living. She has lived in Bedford-Stuyvesant since she was 10 years old. As a child growing up in Bed-Stuy in the 1980s and ‘90s, she was a witness to urban decay and the eventual renewal. Vonetta earned a BA in Business from SUNY Stony Brook and an MS in Urban Environmental Systems Management from the Pratt Institute. She has gained these skills and experiences to engage, educate and equip the young people in her community.</p>
                    </div>

                    <div class="col">
                        <img src="/static/images/headshots/vonetta.jpeg" alt="" class="profile-pic">    
                    </div>
                </div>
            </div> -->

            

            <div class="popup-box">
                <p>Vonetta Storbakken is cofounder and executive director of Radical Living. She has lived in Bedford-Stuyvesant since she was 10 years old. As a child growing up in Bed-Stuy in the 1980s and ‘90s, she was a witness to urban decay and the eventual renewal. Vonetta earned a BA in Business from SUNY Stony Brook and an MS in Urban Environmental Systems Management from the Pratt Institute. She has gained these skills and experiences to engage, educate and equip the young people in her community.</p>
                <img src="/static/images/headshots/vonetta.jpeg" alt="" class="profile-pic">    
            </div>
            
            <a href="#team" class="close">&times;</a>
        </div>
    </div>

    <div class="popup" id="jason">
        <div class="popup-content">
            <h2 class="section-header">Jason Storbakken</h2>

            <div class="popup-box">
                <p>Jason Storbakken (he/him) is a storyteller, radical theologian, and peacebuilder. He has lived in Brooklyn for twenty years. Jason holds a Master of Divinity from Union Theological Seminary in the City of New York and a Doctor of Ministry from Boston University School of Theology. He is pastor at Manhattan Mennonite Fellowship and for more than a decade he has provided direction to the spiritual life at the Bowery Mission. Along with his wife, Vonetta, he cofounded two community organizations, Radical Living and Brooklyn Peace Center. Jason is author of Radical Spirituality: Repentance, Resistance, Revolution (Orbis), Bowery Mission: Grit and Grace on Manhattan’s Oldest Street (Plough), and Last Stop on the Z Train.</p>
                <img src="/static/images/headshots/jason.png" alt="" class="profile-pic">   
            </div>
            
            <a href="#team" class="close">&times;</a>
        </div>
    </div> 

    <div class="popup" id="denise">
        <div class="popup-content">
            <h2 class="section-header">Denise Haggins</h2>

            <div class="popup-box">
                <p>I am grateful for the opportunity to use my gifts, talent, and time to honor God, by serving others in need.
                    I have a heart for people whose dreams are covered in the dreariness, dangers, and disappointments of life. My heart’s desire is to empower people of all ages to look past their limitations, to open their hearts to God and let the Holy Spirit guide them to fulfill God’s promises for their lives. I am with Radical Living because I am a willing vessel God can use to contribute to the mission of this organization.
                    After 35 years of working for local government, on behalf of the families and children of New York City, I retired July 2020. In progressively more responsible roles, I managed, trained, and mentored staff members. Some of the jobs I performed in the private sector are childcare worker, program manager and house manager, in therapeutic and theatrical settings. 
                    I joined Calvary Fellowship AME Church (CFAMEC) in Brooklyn, NY, and Radical Living in 2016. I am humbled to serve as Christian Education Director at my church as well as being a member of the staff and board of Radical Living. CFAMEC hosts the RL Summer Youth Garden Program.
                    Through all the activities, work, and ministries I do my best to share the love, hope, peace and joy that comes from having a personal relationship with God. I Pray the transforming power of the Holy Spirit will guide me to live daily in a way that gives God glory and is useful to someone.
                </p>
                <img src="/static/images/headshots/denise.png" alt="" class="profile-pic">   
            </div>
            
            <a href="#team" class="close">&times;</a>
        </div>
    </div>

    <nav class="navbar navbar-fixed-top fixed-top navbar-expand-lg  navbar-light ">

        <div class="container navbar-container">
            <a class="navbar-brand" href="/"><span id="brand"><img src="../static/images/RL-logo.png" alt="radical living logo" id="logo"> Radical Living</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="dropdown">
                <a href="/about" class="nav-item dropbtn">About Us </a>
                <div class="dropdown-content">
                    <a href="/about#mission">Mission</a>
                    <a href="/about#vision">Vision</a>
                    <a href="/about#team">Team</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="/programs" class="nav-item dropbtn">Programs</a>
                <div class="dropdown-content">
                    <a href="/programs#youth-program">Youth Program</a>
                    <a href="/programs#urban-farm">Urban Farm</a>
                    <a href="/programs#how-green">How Green</a>
                    <a href="/programs#calendar">Calendar</a>
                </div>
            </div>

            <a href="/highlights" class="nav-item">Highlights</a>

            <!-- <a href="https://account.squarespace.com/" class="nav-item">Shop</a> -->

            <a href="/#contact" class="nav-item">Contact</a>
    
            <button><a href="https://www.paypal.com/donate?token=h5oD2nxB4a6DL_7-lUFoV5zXHHqm87SaJJ9hoiVMkZUOg_MxCBb8hf3FKdsa-kUWEm5p5eM9Z7gz471D" class="nav-item" id="donate">Donate</a></button>

        </div>
    </nav>

    <div class="container" style="margin-top: 5%;">
        {% block content %}
        {% endblock %}
    </div>

    

    <div class="footer">
        <p> ©2022 by Adiba Hussain</p>
    </div>

</body>

</html>
