<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <!-- Google Font Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Josefin+Sans:wght@100;400;700&family=Nunito:wght@200;300;400;700&display=swap" rel="stylesheet">


	<link rel="icon" type="image/x-icon" href="./static/images/RL-favicon.png">
    <title>Radical Living</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">

        <div class="container navbar-container">
            <a class="navbar-brand" href="/"><span id="brand"><img src="../static/images/RL-logo.png" alt="radical living logo" id="logo"> Radical Living</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="dropdown">
                <a href="/about" class="nav-item dropbtn">About Us </a>
                <div class="dropdown-content">
                    <a href="/about#mission">Mission</a>
                    <a href="/about#vision">Vision</a>
                    <a href="/about#team">Team</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="/programs" class="nav-item dropbtn">Programs</a>
                <div class="dropdown-content">
                    <a href="/programs#youth-program">Youth Program</a>
                    <a href="/programs#youth-program">Urban Farm</a>
                    <a href="/programs#youth-program">How Green</a>
                </div>
            </div>

            <a href="/highlights" class="nav-item">Highlights</a>
    
            <button><a href="https://www.paypal.com/donate?token=h5oD2nxB4a6DL_7-lUFoV5zXHHqm87SaJJ9hoiVMkZUOg_MxCBb8hf3FKdsa-kUWEm5p5eM9Z7gz471D" class="nav-item" id="donate">Donate</a></button>

        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>
