{% extends "layout.html" %}

{% block content %}

<h1 class="header">Partnership Programs</h1>

<section id="youth-program">

    <h2 class="section-header"><img src="/static/images/youth.png" alt="" class="section-img">Youth Program</h2>
    <hr>

    <p>Radical Living is dedicated to educating, engaging, and equipping the children and youth in Brooklyn, New York with the skills, knowledge and experiences to become transformational leaders. We do this in the context of urban farming and organizing for social justice. The youth participants learn how to grow plants from seeds, cultivate gardens, grow their own food and prepare meals with the ingredients they have grown.</p>

</section>

<section id="urban-farm">

    <h2 class="section-header"><img src="/static/images/farm.png" alt="" class="section-img">Urban Farm</h2>
    <hr>

    <p>Radical Living has partnered with NYC Parks Green Thumb and community leaders in the Bedford-Stuyvesant/Weeksville community to develop a large tract of land into an urban farm. The farm will provide food to the local food pantry & soup kitchen at Calvary Fellowship AME, serve as the space where Radical Living hosts workshops for community residents, and serve as the flagship site for the Radical Living Youth Program.</p>

</section>

<section id="how-green">

    <h2 class="section-header"><img src="/static/images/worship.png" alt="" class="section-img">HOW Green!</h2>
    <hr>

    <p>HOW Green! <b>(Houses of Worship Greening and Sustainability Initiative)</b> was formed out of our executive director Vonetta Storbakken’s <a href="https://www.pratt.edu/tiny_mce/plugins/imagemanager/files/V_Storbakken_Final_Paper.pdf">master’s thesis</a> at Pratt Institute.</p>

    <p>The HOW Green! initiative works alongside faith-based organizations (FBOs), such as churches, mosques, and synagogues, in Bedford-Stuyvesant and central Brooklyn, to evaluate the FBO’s ecological context and its current practices that affect the health of the environment and the congregants. After an initial assessment, the Radical Living team serves to further educate and equip congregational leaders on the importance of social and environmental sustainability via workshops and teachings from sacred texts.</p>
    
    <p>We partner with houses of worship (i.e., churches, mosques, synagogues, etc.) in Bedford-Stuyvesant and central Brooklyn neighborhoods for several reasons. People of color are disproportionately impacted by economic, health and environmental disparities, yet Brooklyn is known as the Borough of Churches. Radical Living recognizes that houses of worship are strategic stakeholders and by partnering with them in deep, meaningful ways we are able to work together to make significant impacts in our community!</p>
    
    <p>Current HOW Green! partners include <a href="http://calvaryfellowshipame.org/">Calvary Fellowship AME</a>, <a href="https://www.facebook.com/pg/The-Pentecostal-House-of-Prayer-203-630127217057106/about/">the Pentecostal House of Prayer</a> , and <a href="https://www.facebook.com/johnwesley260/">John Wesley UMC</a>.</p>
    



</section>

{% endblock %}